.container {
  background-image: linear-gradient(rgba(24, 48, 54, 0.8), rgb(24, 48, 54)),
    url("../images/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
  background: transparent;
}

.select {
    position: relative;
    display: inline-block;
    color: white;
    cursor: pointer;
  }
  
  .selected {
    background-color: transparent;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .selected:hover{
    color: #04232b;
    font-weight: 900;
}
  .arrow {
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);
    fill: white;
    transition: 300ms;
  }
  
  .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #183036c8;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    transition: all ease-in-out 300ms;
  }
  
  .option {
    padding: 5px;
    transition: all ease-in-out 0.3s;
  }
  
  .option:hover {
    background-color: #183036;

    font-weight: 900;
  }
  
  .select:hover .options {
    display: block;
  }
  
  .select:hover .arrow {
    transform: rotate(0deg);
  }
  

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover{
    color: #04232b;
    font-weight: 900;
}
.hire-btn {
  background-color: #00bfa6;
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hire-btn:hover{
    background-color: #183036;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 5rem 10%;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.highlight {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.hero-text p {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.hero-buttons button {
  margin-right: 1rem;
  padding: 1rem 1.8rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.hire-me {
  background-color: #00bfa6;
  color: white;
  transition: all 0.3s ease-in-out;
}
.hire-me:hover{
    background-color: #183036;
}
.portfolio {
  background: rgba(255, 255, 255, 0.2);
  border: #fff 1px solid;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  transition: all 0.3s ease-in-out;
}

.portfolio:hover {
  color: #183036;
  font-weight: 900;
}

.hero-image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero-image {
    max-width: 100%;
  }
}
